.btn {
    font-family: "Rubik";
    cursor: pointer;
    border-radius: 4px;
    color: #fff;
    @extend %itemCenter;
    padding: 10px;
    width: 174px;
    height: 54px;
    transition: 0.3s;
    position: relative;
    border: 1px solid var(--theme-color);
    transition: 0.3s ease-in-out;
    background: var(--theme-color);
    & span {
        position: relative;
        z-index: 5;
        pointer-events: none;
    }
    &:hover {
        filter: brightness(0.8);
    }
    &:focus {
    }
    &-primary {
        &:hover {
        }
    }
    &-secondary {
        background: #a7a7a7;
        border: 1px solid #a7a7a7;
        &:hover {
        }
    }
    &-contour {
        &:hover {
        }
    }
    &-filter {
        &:hover {
        }
    }
}
input,
textarea {
    border: unset;
    background: transparent;
}
button {
    border: unset;
    padding: unset;
    cursor: pointer;
    background: transparent;
}
@media (max-width: 575.98px) {
    .btn {
        width: 136px;
        height: 42px;
        font-size: 12px;
    }
}
