.track-down {
   font-family: "Source Sans Pro";
   position: relative;
   // background: #e9e9e9;
   overflow: hidden;

   &__content {
      position: relative;
      z-index: 10;
      min-height: 620px;
      padding-top: 100px;
   }

   &__title {
      cursor: default;
      font-weight: bold;
      font-size: 40px;
      text-align: center;
      margin-bottom: 50px;
   }

   &__subtitle {
      font-weight: bold;
      font-size: 24px;
      margin-bottom: 15px;
      cursor: default;
   }

   &__container {
      @include adaptiv("padding-left", 200, 0, 2, 1200, 800);
      // padding-left: 200px;
   }

   &__bg-top-left {
      pointer-events: none;
      position: absolute;
      z-index: -1;
      left: 0;
      top: -100px;
   }

   &__bg-bottom-left {
      pointer-events: none;
      position: absolute;
      z-index: -1;
      bottom: 0;
      left: 0;
   }

   &__bg-bottom-right {
      pointer-events: none;
      position: absolute;
      z-index: -1;
      right: 0;
      bottom: 0;
   }
}

.policy-num {
   display: flex;
   margin-bottom: 25px;

   .input {
      color: #0b1f35;
   }

   &.success {
      .policy-num__message-basic,
      .policy-num__message-wrong {
         display: none;
      }

      .policy-num__message-success {
         display: block;
      }

      .input {
         color: #04ba00;
      }

      .policy-num__btns-primary {
         display: none;
      }

      .policy-num__btns-secondary {
         display: flex;
      }
   }

   &.wrong {
      .policy-num__message-basic,
      .policy-num__message-success {
         display: none;
      }

      .policy-num__message-wrong {
         display: block;
      }

      .input {
         color: #ff0021;
      }
   }

   &__input-block {
      margin-right: 30px;
      max-width: 570px;
      width: 100%;
   }

   &__btns-primary {
   }

   &__btn {
      &:not(:last-child) {
         margin-right: 10px;
      }
   }

   &__btn-track {
   }

   &__btns-secondary {
      display: flex;
      display: none;
   }

   &__btn-details {
   }

   &__btn-search {
   }

   &__message {
      width: 100%;
      font-size: 18px;
      color: #000000;
      cursor: default;
      // display: none;
   }

   &__message-basic {
   }

   &__message-success {
      display: none;
      color: #04ba00;
   }

   &__message-wrong {
      display: none;
      color: #ff0021;
   }
}

.input {
   width: 100%;
   height: 54px;
   border: 1px solid #15499f;
   padding: 14px 60px 15px 30px;
   border-radius: 10px;
   font-weight: bold;
   font-size: 20px;
   background: #fff;

   &::placeholder {
      color: #c6c6c6;
   }

   &:focus {
      box-shadow: 1px 1px 4px #15499f;
   }

   &__box {
      margin-bottom: 15px;
      position: relative;
      width: 100%;
   }

   &__search-icon {
      height: 50px;
      width: 52px;
      border-radius: 10px;
      background: #fff;
      position: absolute;
      transform: translateY(-50%);
      right: 1px;
      top: 50%;
      @extend %itemCenter;
      display: none;
   }

   &__info {
      font-size: 18px;
      cursor: default;
      margin-bottom: 5px;
   }
}

.detailed-info {
   display: none;
   padding-bottom: 100px;
   &.open {
      display: block;
   }
   &__container {
      display: flex;
      align-items: flex-end;
   }

   &__input-block {
      max-width: 300px;
      margin-right: 35px;

      .input__box {
         margin-bottom: unset;
      }

      .input {
         padding-right: 15px;
      }
   }

   &__btn {
   }
}

.polis-info {
   display: none;
   &.open {
      display: flex;
   }
   padding-bottom: 150px;

   &__table {
      max-width: 460px;
      margin-right: 40px;
   }

   &__table-title {
      font-weight: bold;
      font-size: 24px;
      margin-bottom: 20px;
   }

   &__table-column {
      border-bottom: 1px solid #15499f;
      margin-bottom: 10px;

      &:last-child {
         border-bottom: none;
      }
   }

   &__table-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
   }

   &__table-item-name {
      font-weight: 600;
   }

   &__table-item {
      // font-size: 20px;
   }

   &__table-subtitle {
      font-weight: 600;
      text-align: center;
      margin-top: 5px;
      margin-bottom: 10px;
      cursor: default;
   }

   &__download {
   }

   &__download-title {
      font-weight: 600;
      margin-bottom: 10px;
      cursor: default;
   }

   &__btn-download {
   }
}
.login {
   min-height: 850px;
   font-family: "Source Sans Pro";
   overflow: hidden;
   padding: 150px 0 190px;
   // display: flex;
   // justify-content: center;
   &__content {
      margin: 0 auto;
      padding: 35px 60px;
      // width: 635px;
      width: 100%;
      // flex: 0 1 635px;
      max-width: 635px;
      background: #ffffff;
      border: 2.25177px solid rgba(21, 73, 159, 0.1);
      box-sizing: border-box;
      box-shadow: 0px 0px 56.2943px rgba(197, 195, 195, 0.25);
      border-radius: 15.7624px;
   }

   &__title {
      width: 100%;
      font-weight: bold;
      font-size: 31px;
      text-align: center;
      cursor: default;
      margin-bottom: 30px;
   }

   &__tabs {
      display: flex;
      justify-content: space-between;
      margin-bottom: 41px;
      align-items: center;
   }
   &__divide-or {
      font-size: 16px;
      margin: 0 9px;
      color: #000000;
      display: none;
   }
   &__tab-item {
      cursor: pointer;
      display: flex;
      align-items: center;
      width: 247px;
      height: 53px;
      background: #ffffff;
      border: 2.25177px solid rgba(21, 73, 159, 0.1);
      box-shadow: 0px 0px 56.2943px rgba(197, 195, 195, 0.25);
      border-radius: 737.456px;
      padding-left: 3px;
      padding-right: 15px;
      font-size: 18px;
      font-family: "Source Sans Pro";
      .tab-icon {
         width: 42px;
         height: 42px;
         margin-right: 10px;
         border-radius: 50%;
         background: #f0f0f0;
         @extend %itemCenter;
         fill: #839dc7;
      }
   }
   &__tab-item.active {
      background: #15499f;
      color: #ffffff;
      border-color: #15499f;
      .tab-icon {
         fill: #15499f;
         background: #ffffff;
         box-shadow: 0px 0px 12.0138px rgba(145, 139, 139, 0.25);
      }
   }
   &__tab-body {
      display: none;
   }
   &__tab-body.active {
      display: block;
   }

   &__tabs-content {
   }
}
.tab-phone-num {
   &__head {
   }

   &__head-title {
   }
   &__head-title-mobile {
      display: none;
   }
   &__body {
   }

   &__num-block {
      // display: none;
   }

   &__num-btn,
   &__sms-btn {
      margin: 40px auto 0 auto;
   }

   &__sms-block {
      display: none;
   }
}

.tab-login {
   &__head {
   }

   &__head-title {
   }
   &__head-title-mobile {
      display: none;
   }

   &__body {
   }

   &__btn {
      margin: 40px auto 0 auto;
   }
}
.input-secondary {
   padding: 12px 20px 12px 0;
   width: 100%;
   font-size: 20px;
   border-bottom: 1.12589px solid #15499f;
   &:focus {
      border-bottom: 1.12589px solid #000;
   }
   &::placeholder {
      color: rgba(109, 109, 109, 0.6);
   }
   &__box {
      &:not(:last-child) {
         margin-bottom: 20px;
      }
   }

   &__title {
      font-size: 20px;
   }
}
